div{
    width:400px;
    height:300px;
    margin:50px auto;
    overflow:hidden;
}
dl{
    width:500px;
    height:300px;
}
dt{
    width:35px;
    height:300px;
    float:left;
}
dt span{
    display:block;
    width:100%;
    height:100%;
    /*text-indent:-9999px;*/
    text-align:center;
}
dt span.over{
    cursor:pointer;    
}
dt span.selected{
    cursor:default;
}
dt#html span{
    background:skyblue;
}
dt#html span.over{
    background:blue;
}
dt#html span.selected{
    background:blue;
    color:yellow;
    font-weight:bold;
}
dt#html2 span{
    background:skyblue;
}
dt#html2 span.over{
    background:blue;
}
dt#html2 span.selected{
    background:blue;
    color:yellow;
    font-weight:bold;
}
dt#html3 span{
    background:skyblue;
}
dt#html3 span.over{
    background:blue;
}
dt#html3 span.selected{
    background:blue;
    color:yellow;
    font-weight:bold;
}
dd{
    margin:0;
    width:295px;
    height:300px;
    float:left;
    background:#efefef;
    overflow:hidden;
}
dd p{
    width:265px;
    /*text-indent:1em;*/
    padding:20px;
    margin:0;
}