<meta charset='utf8'>
<script type="text/javascript" src="http://code.jquery.com/jquery-2.2.3.min.js"></script>
<script>
$(function(){
    $('option').bind("click",function(){
        var re = new RegExp($('select[id="search"]').val());
        console.log(re);
        $('.content tbody tr').each(function(){
            var txt = $(this).find("td:eq(0)").html();
            if(txt.match(re) != null){
                 $(this).show();
            } else {
                 $(this).hide();
            }
        });
    });
});
</script>


<!--<input type="text" id="search"> <input type="button" value="絞り込む" id="button"> <input type="button" value="すべて表示" id="button2">-->
<select id='search'>
    <option value="" selected='selected'>All</option>
    <option value='花子'>花子</option>
    <option value="デー">デー</option>
    <option value="プロ">プロ</option>
    <option value="プル">プル</option>
</select>


<table class="content">
    <thead>
        <tr><th>氏名</th><th>住所</th><th>備考</th></tr>
    </thead>
    <tbody>
        <tr><td>サンプル</td><td>データ１</td><td>情報１</td></tr>
        <tr><td>サンプリ</td><td>データ１</td><td>情報１</td></tr>
        <tr><td>サンプレ</td><td>データ１</td><td>情報１</td></tr>
        <tr><td>サンプロ</td><td>データ１</td><td>情報１</td></tr>
        <tr><td>サンプラ</td><td>データ１</td><td>情報１</td></tr>
        <tr><td>サンセット</td><td>データ１</td><td>情報１</td></tr>
        <tr><td>サンデー</td><td>データ１</td><td>情報１</td></tr>
        <tr><td>マンデー</td><td>データ１</td><td>情報１</td></tr>
        <tr><td>チューズデー</td><td>データ１</td><td>情報１</td></tr>
        <tr><td>太郎さん</td><td>データ１</td><td>情報１</td></tr>
        <tr><td>花子サン</td><td>データ１</td><td>情報１</td></tr>
    </tbody>
</table>