body {
    font-size: 100%;
    font: inherit;
    padding: 0;
    vertical-align: baseline;
    line-height: 1;
    text-align: center;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}


td button{
    width:60px;
    height:50px;
    background: #f9f9f9;
    border:1px solid #f0f0f0;
    border-radius:1px;
    font-size:18px;
    font-weight:normal;
    outline:0;
}
button:active{
    background-color: gray;
}
#screen{
    width:240px;
    height:73px;
    background:#f0f0f0;
    border:1px solid #e5e5e5;
    border-radius:1px;
    text-align:right;
    font-size:50px;
    padding:15px 5px 0px 0px;

}

div#calculator {
    margin: 30px auto;
    width: 240px;
}