<!DOCTYPE html>
<html>
  <head>
    <title>Test for Capture</title>
  </head>
  <body>
    {$smarty.version}
    {url}
    {$D = []}
    {foreach $data2 as $key => $var}
      { D[$data2[$key]] = $value }
    {/foreach}

    {foreach $data2 as $key => $var}
    <a href="target.html?id={$key}">Here</a>
    {/foreach}
  </body>
</html>