<!-- Main content -->
<section class="content">
  <span id="dataErr" style="color: red;"></span>
  <div class="row">
    {assign var=CommonTitle value=[ "Rank", "Name" ]}
    {assign var=BlocksTitle value=[ "MarketCap", "Volume", "Price", "Change" ]}

    {foreach $BlocksTitle as $subTitle}
    <div class="col-md-3">
      <!-- Default box -->
      <div class="box box-primary">
        <input type="hidden" id="{$subTitle}_column" value="2">
        <!-- -1: ASC, 1: DESC -->
        <input type="hidden" id="{$subTitle}_order" value="1">
        <table id="{$subTitle}" class="table table-bordered table-hover">
          <tbody>
            <tr id="{$subTitle}_block">
                {foreach $CommonTitle as $MainTitle}
                <th>{$MainTitle}</th>
                {/foreach}
                <th class="DESC" style="cursor: pointer;">{$subTitle}</th>
            </tr>
            <!-- Block Data---start---- -->
            <!-- Block Data---end------ -->
          </tbody>
        </table>
      </div>
      <!-- /.box -->
    </div>
    <!-- /.col -->
    {/foreach}

    </div>
    <!-- /.row -->


</section>
<!-- /.content -->

<script type="text/javascript" src="{$smarty.const.PATH_TOP_RELATIVE}plugins/jQuery/jquery-2.2.3.min.js"></script>
<script>

  var CoinsNum = 10;

  window.onload = function(){
    Catagory.MakeBlockCells();
    Catagory.getCoinsData();
    setInterval( function() {
      Catagory.getCoinsData();
    }, 6000);

  }

  $( function() {
    $( "th" ).on( "click", function() {
        var BlockTableTh = $( this ),
            DoSort       = new SORT( BlockTableTh );
        DoSort.SortData();
    });
  });

  class Catagory{

    /**
     * ブロックのタイトル
     */
    static Blocks(){
      return [ "MarketCap", "Volume", "Price", "Change" ];
    }
    /**
     * テーブルのマスを作る
     */
    static MakeBlockCells(){

      Catagory.Blocks().forEach( function( Block ) {
          for( var i = 0; i < 10; ++i ){
            var tr       = document.createElement( "tr" ),
                img      = document.createElement( "img" ),
                aLink    = document.createElement( "a" ),
                spanImg  = document.createElement( "span" ),
                spanStr  = document.createElement( "span" ),
                tdRank   = document.createElement( "td" ),
                tdName   = document.createElement( "td" ),
                tdBlock  = document.createElement( "td" ),
                bNode = document.getElementById( Block + "_block" ),
                pNode = bNode.parentNode;
            //rank
            tdRank.id = i + "_" + Block;
            tr.appendChild( tdRank );
            //coin name and logo
            img.id  = i + "_logo_" + Block;
            spanImg.appendChild( img );
            tdName.appendChild( spanImg );
            aLink.id = i + "_link_" + Block;
            aLink.target = "_blank";
            spanStr.id = i + "_coin_" + Block;
            aLink.appendChild( spanStr );
            tdName.appendChild( aLink );
            tr.appendChild( tdName );
            //Block
            tdBlock.id = i + "_data_" + Block;
            tr.appendChild( tdBlock );
            //insert cells
            pNode.insertBefore( tr, null );
          }
      });

    }
    /**
     * ブロックによってそれぞれのデータを表示する
     * @param object BlocksData APIで取得してソートしてブロックに振り分けたデータ
     */
    static MakeCoinsList( BlocksData ){

      Object.keys( BlocksData ).forEach( function( Block ) {
          for( var i = 0; i < CoinsNum; ++i ){
            $( "#" + i + "_" + Block ).text( (i + 1) );
            $( "#" + i + "_logo_" + Block ).attr( "src", Catagory.GetImg( BlocksData[Block][i].coin ) );
            $( "#" + i + "_link_" + Block ).attr( "href", Catagory.GetLink( BlocksData[Block][i].id ) );
            $( "#" + i + "_coin_" + Block ).html( " " + BlocksData[Block][i].coin );
            if( Block == "MarketCap" || Block == "Volume"  ){
              $( "#" + i + "_data_" + Block ).html( "$ " + Catagory.IntFormat( BlocksData[Block][i].data ) );
            } else if( Block == "Price" ){
              $( "#" + i + "_data_" + Block ).html( "$ " + Catagory.FloatFormat( BlocksData[Block][i].data , 4 ) );
            } else {
              ( BlocksData[Block][i].data < 0  ) ? $( "#" + i + "_data_" + Block ).css( "color", "red" ) : $( "#" + i + "_data_" + Block ).css( "color", "green" );
              $( "#" + i + "_data_" + Block ).text( BlocksData[Block][i].data + " %" );
            }
          }
      });

    }
    /**
     * 表示させたいデータをブロックによってまとめる。
     * @param object CoinsData APIから取得したデータ
     */
    static MakeBlockData( CoinsData ){

      var BlocksData = {},
          MktCapCond = SORT.GetDataTableSortCond( "MarketCap" ),
          VolumeCond = SORT.GetDataTableSortCond( "Volume" ),
          PriceCond  = SORT.GetDataTableSortCond( "Price" ),
          ChangeCond = SORT.GetDataTableSortCond( "Change" );
      this.Blocks().forEach( function( Block ) {
          BlocksData[Block] = [];
      });
      for( var i = 0; i < CoinsNum; ++i ){
        //MarketCap
        BlocksData["MarketCap"][i] = { "coin" : CoinsData[i].symbol,
                                       "id"   : CoinsData[i].id,
                                       "data" : Math.floor( Number( CoinsData[i]["market_cap_usd"] ) ) };
        //Volume
        BlocksData["Volume"][i] = { "coin" : CoinsData[i].symbol,
                                    "id"   : CoinsData[i].id,
                                    "data" : Math.floor( Number( CoinsData[i]["24h_volume_usd"] ) ) };
        //Price
        BlocksData["Price"][i] = { "coin" : CoinsData[i].symbol,
                                   "id"   : CoinsData[i].id,
                                   "data" : Number( CoinsData[i]["price_usd"] ) };
        //Change
        BlocksData["Change"][i] = { "coin" : CoinsData[i].symbol,
                                    "id"   : CoinsData[i].id,
                                    "data" : Number( CoinsData[i]["percent_change_24h"] ) };
      }
      console.log(MktCapCond );
      SORT.RankSort( BlocksData["MarketCap"], MktCapCond["column"], MktCapCond["order"] );
      console.log(BlocksData["MarketCap"]);
      SORT.RankSort( BlocksData["Volume"], VolumeCond["column"], VolumeCond["order"] );
      SORT.RankSort( BlocksData["Price"], PriceCond["column"], PriceCond["order"] );
      SORT.RankSort( BlocksData["Change"], ChangeCond["column"], ChangeCond["order"] );
      Catagory.MakeCoinsList( BlocksData );

    }
    /**
     * ajaxでphpへ要求してデータを取得する。
     * @return JSON APIから取得したデータ
     */
    static getCoinsData(){

      $.ajax({
          type: "GET",
          url:  "/api_coincap_catagory/",
          data: { "CoinsNum": CoinsNum },
          dataType: "json",
          success: function( json ){
            Catagory.MakeBlockData( json );
          },
          error: function( XMLHttpRequest, textStatus, errorThrown ) {
              $( "#dataErr" ).text( "データエラー or APIエラー" );
          }
      });
    }

    /**
     * 数字のフォーマットやリンクやイメージやを処理する様々な関数
     */
    static IntFormat( IntNumber ){ return new Intl.NumberFormat().format( IntNumber ); }
    static FloatFormat( FloatNum, n ){ return parseFloat( FloatNum ).toFixed( n ); }
    //url
    static BaseLink(){ return "https://coinmarketcap.com/currencies/"; }
    static GetLink( CoinId ){ return this.BaseLink() + CoinId; }
    static GetIDFromLink( Url ){ return Url.replace( this.BaseLink() , "" ); }
    //Img base path
    static BasePath(){ return "{$smarty.const.PATH_TOP_RELATIVE}dist/img/coinLogo/"; }
    static GetImg( CoinName ){ return this.BasePath() + CoinName + ".png"; }

  }

  class SORT{

    constructor( DataTableTh ){
      this.DataTableTh = DataTableTh;
    }

    SortData(){

      //define variables
          var DataSortKey,
              DataOrderBy,
              DataTable = this.DataTableTh.closest( "table" ),
              DataTableID = DataTable.attr( "id" ),
              DataTableChildren = DataTable.children().children(),
              DataColNums,
              SortColumn,
              DataTempArr = {},  //// get all entries and keep values in DataTempArray;
              ShortNameTemp,
              IDTemp,
              ValueTemp;

          // culumn no you select
          DataSortKey = this.DataTableTh.index();
          // toggle ASC or DESC
          ( this.DataTableTh.hasClass( "DESC" ) ) ? ( DataOrderBy = "ASC" ) : ( DataOrderBy = "DESC" );
          // initialize class
          DataTable.find( "th" ).removeClass( "ASC" );
          DataTable.find( "th" ).removeClass( "DESC" );
          this.DataTableTh.addClass( DataOrderBy );
          // get number of line and columns of the table
          DataColNums = DataTableChildren.eq(0).children().length;
          //dataを最初のと同じ構造にする
          DataTempArr[DataTableID] = [];
          for( var i = 1; i < (CoinsNum + 1); ++i ){
            ShortNameTemp = DataTableChildren.eq(i).children().eq(1).text();
            ShortNameTemp = ShortNameTemp.replace( " ", "" );
            IDTemp = DataTableChildren.eq(i).children().eq(1).find( "a" ).attr( "href" );
            IDTemp = Catagory.GetIDFromLink( IDTemp );
            ValueTemp = DataTableChildren.eq(i).children().eq(2).text();
            ValueTemp = ValueTemp.replace( "$ ", "" );
            ValueTemp = ValueTemp.replace( " %", "" );
            ValueTemp = ValueTemp.replace( /,/g, "" );
            DataTempArr[DataTableID][i-1] = { "coin": ShortNameTemp,
                                              "id"  : IDTemp,
                                              "data": Number( ValueTemp )};
          }
          // sort by the key you selected
          switch( Number( DataSortKey ) ){
            // case 0:
            //   SortColumn = "rank";
            //   break;
            case 1:
              SortColumn = "coin";
              break;
            case 2:
            default:
              SortColumn = "data";
              break;
          }
          ( DataOrderBy == "ASC" ) ? ( SORT.RankSort( DataTempArr[DataTableID], SortColumn, -1 ) ) : ( SORT.RankSort( DataTempArr[DataTableID], SortColumn, 1 ) );
          // update sort status
          $( "#" + DataTableID + "_column" ).val( DataSortKey );
          (  DataOrderBy == "ASC" ) ? ( $( "#" + DataTableID + "_order" ).val( -1 ) ) : ( $( "#" + DataTableID + "_order" ).val( 1 ) );
          // insert DataTempArranged values into table
          console.log( DataSortKey );
          console.log(DataTempArr);
          Catagory.MakeCoinsList( DataTempArr );

    }
    //sortkey = 1降順, -1昇順
    static RankSort( DataTempArr, DataSortKey, sortkey ){

      return DataTempArr.sort( function( a, b ) {
          if( a[DataSortKey] != b[DataSortKey]  ){
            if( a[DataSortKey] < b[DataSortKey] ){
              return ( 1 * sortkey ) ;
            } else {
              return ( -1 * sortkey );
            }
          }
      });

    }

    static GetDataTableSortCond( DataTableID ){
      var DataTableOrder  = $( "#" + DataTableID + "_order" ).val(),
          DataTableColumn = $( "#" + DataTableID + "_column" ).val();
      // 0: rank, 1: coin, 2: data
      switch( Number( DataTableColumn ) ){
        // case 0:
        //   DataTableColumn = "rank";
        //   break;
        case 1:
          DataTableColumn = "coin";
          break;
        case 2:
        default:
          DataTableColumn = "data";
          break;
      }
      return { "order": DataTableOrder, "column": DataTableColumn };
    }


  }////class SORT end

</script>